:root {
  --flexoki-black:       #100F0F;
  --flexoki-paper:       #FFFCF0;

  --flexoki-950:         #1C1B1A;
  --flexoki-900:         #282726;
  --flexoki-850:         #343331;
  --flexoki-800:         #403E3C;
  --flexoki-700:         #575653;
  --flexoki-600:         #6F6E69;
  --flexoki-500:         #878580;
  --flexoki-300:         #B7B5AC;
  --flexoki-200:         #CECDC3;
  --flexoki-150:         #DAD8CE;
  --flexoki-100:         #E6E4D9;
  --flexoki-50:          #F2F0E5;

  --flexoki-red-600:     #AF3029;
  --flexoki-red-400:     #D14D41;

  --flexoki-orange-600:  #BC5215;
  --flexoki-orange-400:  #DA702C;

  --flexoki-yellow-900:  #4D3A0B;
  --flexoki-yellow-600:  #AD8301;
  --flexoki-yellow-400:  #D0A215;
  --flexoki-yellow-100:  #FCEEB8;

  --flexoki-green-600:   #66800B;
  --flexoki-green-400:   #879A39;

  --flexoki-cyan-950:    #142625;
  --flexoki-cyan-600:    #24837B;
  --flexoki-cyan-400:    #3AA99F;
  --flexoki-cyan-50:     #EBF2E7;

  --flexoki-blue-600:    #205EA6;
  --flexoki-blue-400:    #4385BE;

  --flexoki-purple-600:  #5E409D;
  --flexoki-purple-400:  #8B7EC8;

  --flexoki-magenta-600: #A02F6F;
  --flexoki-magenta-400: #CE5D97;

  --bg: var(--flexoki-paper);
  --bg-2: var(--flexoki-50);
  --ui: var(--flexoki-100);
  --ui-2: var(--flexoki-150);
  --ui-3: var(--flexoki-200);
  --tx-3: var(--flexoki-300);
  --tx-2: var(--flexoki-600);
  --tx: var(--flexoki-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--flexoki-black);
    --bg-2: var(--flexoki-950);
    --ui: var(--flexoki-900);
    --ui-2: var(--flexoki-850);
    --ui-3: var(--flexoki-800);
    --tx-3: var(--flexoki-700);
    --tx-2: var(--flexoki-500);
    --tx: var(--flexoki-200);
  }
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/font/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/font/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/font/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/font/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Atkinson Hyperlegible";
  background-color: var(--bg);
  color: var(--tx);
  height: 100vh;
}

nav menu {
  width: 50%;
  margin: 0 auto 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  display: block;
  color: var(--tx-2);
}

nav a:hover {
  color: var(--tx-3);
}


main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
