<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Lukas Jordan</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<nav>
  <menu>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Posts</a></li>
    <li><a href="/about">About</a></li>
  </menu>
</nav>
<body>
  <main>
    <content>
      {% block content %} {% endblock %}
    </conten>
  </main>
</body>

</html>
